html{
  
}

#welcome-section{
  text-align: center;  
}

section{
  background: linear-gradient(180deg, #9966ff, #aa80ff) no-repeat center; /*With help from: https://www.w3schools.com/colors/colors_picker.asp */
  padding: 164.5px;  
}

#projects{ /*With help from: https://www.w3schools.com/css/css_grid.asp */
  background: linear-gradient(180deg, #bb99ff, #ccb3ff) no-repeat center;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: 600px 600px;
  padding-left: 25%; 
}

.project-tile{
  width: 600px;
  height: 450px; 
}

#contact{
  background: linear-gradient(180deg, #ddccff, #eee6ff) no-repeat center; 
  text-align: center; 
}

a:link{
  color: white; 
  text-decoration: none; 
}

a:hover{
  color: grey;
  text-decoration: underline;
}

a:visited {
  color: white; 
}

#profile-link{
  padding: 10px; 
}

#second-link:link{
  color: white;
  text-decoration: none; 
}

#second-link:visited{
  color: white;
}

#second-link:hover{
  color: black;
  text-decoration: underline; 
}

#navbar{
  position: fixed;
  top: 0; 
  background-color: darkblue;
  color: white; 
  width: 97.8%;
  padding: 20px; 
}

.nav-link{
  position: relative; 
  left: 68%; 
  padding: 7px; 
  font-size: 20px; 
}

@media (max-width: 600px){
  #projects {
    padding-left: 15%;
    grid-template-columns: 600px;
    
  }
  .project-tile{
  width: 400px;
  height: 350px; 
}
  .nav-link{
  position: relative; 
  left: 28%;  
}
  #navbar{
    width: 90.4%; 
  }
  #footer{
    width: 93%; 
  }
}


footer{
  bottom: 0; 
  background-color: grey; 
  color: white; 
  width: 98.4%;
  padding: 20px; 
}